<div class="row">
    <div class="col-12 col-md-8">
        <h2>Register</h2>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div role="alert" *ngIf="formError" class="alert alert-danger">
                    {{ formError }}
                </div>
                
            <div class="form-group">
                <label>Username:</label>
                <input type="name" formControlName="name"
                placeholder="Enter your username" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['name'].errors
                    }">
                <div *ngIf="submitted && f['name'].errors">
                    <div *ngIf="f['name'].errors?.['required']">
                        Username is required
                    </div>
                </div>
            </div>
            <br>

            <div class="form-group">
                <label>Email:</label>
                <input type="email" formControlName="email"
                placeholder="Enter your email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['email'].errors
                    }">
                <div *ngIf="submitted && f['email'].errors">
                    <div *ngIf="f['email'].errors?.['required']">
                        Email is required
                    </div>
                </div>
            </div>

            <br>
            <div class="form-group">
                <label>Password</label>
                <input type="password" formControlName="password"
                placeholder="enter password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['password'].errors
                    }">
                <div *ngIf="submitted && f['password'].errors">
                    <div *ngIf="f['password'].errors?.['required']">
                        Password is required
                    </div>
                </div>
            </div>
            <br>

            <button type="submit" class="btn btn-info">Register</button>
        </form>
        <br>
        <br>

        <nav>
            <ul class="navbar-nav">
                <a routerLink="login" class="nav-item" (click)="goToLogin()" onmouseover="this.style.cursor='pointer'">
                    <span class="has-icon-left">Already have an Account?</span>
                </a>
            </ul>
        </nav>
    </div>
</div>

